---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.site-logo-img {
    // background-color: yellow;
    // border: 5px transparent gold;
    border: 0px solid transparent;
}

.site-tag-cloud {
    clear: both
}